/* ----------- CSS reset (make styles look the same in every browser) ----------- */

html {
  color: #000;
  background: white;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%;
}

legend {
  color: #000;
}

a img {
  border: none;
}

blockquote,
q {
  quotes: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  min-height: 100%;
  margin: 0 0 1px;
  background: #252525;
  font-size: 100.01%;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100%;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
textarea,
input,
select,
option,
button {
  color: #666;
  font-family: Proxima, Arial, Helvetica, sans-serif;
  line-height: 1.625;
}

li,
dt,
dd,
p,
figure,
th,
td,
caption,
legend,
pre {
  font-size: 1.6em;
}

li *,
dt *,
dd *,
p *,
figure *,
th *,
td *,
legend * {
  font-size: 1em;
}

ul,
ol,
dl,
p,
figure,
table,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  margin-bottom: 26px;
}

article,
aside,
details,
div,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*! Layout --------- */

#root {
  overflow: hidden;
  padding: 119px 0 0;
  background: #fafafa;
}

html.a #root {
  background: #fff;
}

#top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 35px 0 29px;
  border-top: 33px solid #fafafa;
  background: #fff;
}

#top:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -33px;
  z-index: 2;
  width: 100%;
  height: 32px;
  background: #fafafa;
}

#top:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
}

.no-mobile #top {
  position: fixed;
}

#top h1,
#logo {
  position: relative;
  z-index: 1;
  width: 1250px;
  height: 22px;
  margin: 0 auto;
}

#top h1 a,
#logo a {
  display: block;
  overflow: hidden;
  width: 121px;
  height: 40px;
  background: url("../img/njord-logo.svg") no-repeat;
  text-indent: -3000em;
  position: absolute;
  top: -10px;
  left: 0px;
}

#skip {
  position: fixed;
  top: 0;
  left: -10000px;
}

#skip a:focus,
#skip a:active {
  display: block;
  position: absolute;
  left: 10000px;
  top: 0;
  z-index: 10001;
  width: 200px;
  margin: 15px 0 0 15px;
  padding: 4px 8px;
  background: #252525;
  color: #fff;
  font-weight: 500;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
}

#nav {
  position: absolute;
  right: 50%;
  top: 0;
  z-index: 3;
  margin: 0 -625px 0 0;
  padding: 33px 0 0;
}

#nav > ul {
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav > ul > li {
  float: left;
}

#nav > ul.b > li {
  float: none;
  display: inline-block;
  text-align: left;
}

#nav > ul > li:before,
#nav > ul.c > li > ul li:before,
#aside ul li:before,
#footer > nav ul li:before,
#search ul li:before {
  left: -3000em;
}

#nav > ul > li > a {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  text-decoration: none;
}

#root #nav > ul > li > a:hover,
#nav > ul.c > li > ul li a:hover,
#team .semantic-select.active ul li a:hover,
#nav > ul.b > li > ul li a:hover,
#nav > ul.a > li > div ul li a:hover {
  color: #60dd49;
}

#nav > ul.a > li {
  height: 53px;
  margin: 0 0 0 50px;
  font-size: 1.6em;
  line-height: 21px;
  text-transform: uppercase;
}

#nav > ul.a > li > a {
  color: #343434;
}

#root #nav > ul.a > li.active > a {
  color: #343434;
  font-weight: 600;
  cursor: default;
}

#nav > ul.a > li.a > a {
  width: 53px;
  border-left: 1px solid #d9d9d9;
  background: url("../img/sprite-a.png") 24px 2px no-repeat;
  text-indent: -3000em;
}

#nav > ul.a > li > div {
  position: absolute;
  right: 0;
  top: -3000em;
  width: 1250px;
  padding: 15px 0;
  background: #252525;
}

#nav > ul.a > li:hover > div {
  top: 86px;
}

#nav > ul.a > li > div ul {
  position: relative;
  list-style: none;
  float: left;
  width: 25%;
  margin: 0;
  padding: 10px 0 6px;
}

#nav > ul.a > li > div ul:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #434343;
}

#nav > ul.a > li > div ul:first-child:before {
  left: -3000em;
}

#nav > ul.a > li > div ul li {
  font-size: 13px;
  text-transform: none;
}

#nav > ul.a > li > div ul li a {
  display: block;
  padding: 7px 30px;
  color: #fff;
  line-height: 32px;
  text-decoration: none;
}

#nav > ul.b {
  position: absolute;
  right: 240px;
  top: -33px;
  color: #939292;
  line-height: 32px;
  width: 100%;
  text-align: right;
}

#nav > ul.b > li {
  position: relative;
  padding: 0 0 0 22px;
  font-size: 1.3em;
}

#root #nav > ul.b > li.active > a {
  color: #939292;
  font-weight: 700;
  cursor: default;
}

#nav > ul.b > li > a {
  color: #939292;
}

#nav > ul.c {
  position: absolute;
  right: 115px;
  top: -33px;
  z-index: 2;
  color: #939292;
  line-height: 32px;
}

#nav > ul.c:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 12px;
  width: 1px;
  height: 9px;
  background: #919191;
}

#nav > ul.c > li {
  position: relative;
  padding: 0 34px 5px 0;
  font-size: 1.3em;
}

#nav > ul.c > li:after {
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  top: 14px;
  width: 8px;
  height: 5px;
  background: url("../img/sprite-a.png") 0 -21px no-repeat;
}

#nav > ul.c > li > ul,
#nav > ul.b > li > ul {
  position: absolute;
  left: -20px;
  top: -3000em;
  list-style: none;
  width: 186px;
  padding: 10px 0 6px;
  background: #252525;
}

#nav > ul.c > li:hover > ul,
#nav > ul.b > li:hover > ul,
#nav > ul.c.toggle > li > ul,
#nav > ul.c.toggle > li:hover > ul {
  top: 32px;
}

#nav > ul.b > li > ul {
  left: 2px;
}

#nav > ul.c > li > ul li a,
#nav > ul.b > li > ul li a {
  display: block;
  padding: 7px 20px;
  color: #fff;
  text-decoration: none;
}

#nav > ul.d {
  position: absolute;
  right: 0;
  top: -33px;
  color: #939292;
  line-height: 32px;
}

#nav > ul.d > li {
  position: relative;
  padding: 0 0 0 20px;
  font-size: 1.3em;
}

#nav > ul.d > li > a {
  color: #939292;
}

#nav em,
#nav > ul.a > li > div ul li:before,
#nav-mobile em,
#nav-mobile > li.a,
#nav-mobile > li > div,
#nav-mobile > li > ul,
#nav-mobile form ul,
#nav-mobile form p a,
#nav-mobile > li ul > li ul {
  position: absolute;
  left: -3000em;
  top: -3000em;
}

#nav-mobile {
  position: absolute;
  right: 0;
  top: -3000em;
  list-style: none;
  width: 100%;
  padding: 5px 0 25px;
  background: #252525;
}

#nav-mobile > li {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  border-top: 1px dotted #4c4c4c;
  font-size: 1.3em;
}

#nav-mobile > li:first-child {
  border: 0;
}

#nav-mobile > li > a {
  display: block;
  position: relative;
  z-index: 1;
  padding: 17px 40px 17px 0;
  color: #a5a5a5;
  text-decoration: none;
}

#nav-mobile li > .fit-a {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 50%;
  height: 55px;
  cursor: pointer;
}

#nav-mobile li > .fit-a:before {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 8px;
  height: 6px;
  margin: -3px 0 0;
  background: url("../img/sprite-a.png") 0 -70px no-repeat;
}

#nav-mobile li.toggle > .fit-a:before {
  background-position: -10px -70px;
}

#nav-mobile li.toggle > div,
#nav-mobile li.toggle > ul {
  position: relative;
  left: 0;
  top: 0;
}

#nav-mobile li.toggle > a {
  color: #fff;
}

#nav-mobile > li ul {
  z-index: 3;
  list-style: none;
  height: auto !important;
  min-height: 0 !important;
  margin: 0;
  padding: 0 0 0 20px;
  border-top: 1px dotted #4c4c4c;
}

#nav-mobile > li ul > li {
  position: relative;
  border-top: 1px dotted #4c4c4c;
}

#nav-mobile > li ul > li:first-child {
  border-top: 0;
}

#nav-mobile > li ul > li a {
  display: block;
  padding: 17px 0;
  color: #a5a5a5;
  text-decoration: none;
}

#nav-mobile > li ul > li.toggle ul {
  position: relative;
  left: 0;
  top: 0;
}

#nav-mobile form {
  margin: 0 5%;
  padding: 25px 0 0;
  border-top: 1px dotted #4c4c4c;
}

#nav-mobile form p {
  margin: 0;
  font-size: 12px;
}

#nav-mobile form label {
  position: absolute;
  left: -3000em;
  top: 0;
  padding: 0 40px;
  color: #6a6a6a;
  line-height: 52px;
  cursor: text;
}

#nav-mobile form input {
  width: 100%;
  height: 52px;
  padding: 0 20px 0 40px;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 1px 0 #2e2e2e;
  background: url("../img/sprite-a.png") 15px -369px no-repeat #171717;
  color: #6a6a6a;
  font-size: 12px;
}

#nav-mobile form button {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 52px;
  background: #ccc;
  text-indent: -3000em;
  text-align: left;
}

#top > .fit-a {
  display: block;
  position: absolute;
  right: 5%;
  top: -3000em;
  z-index: 10;
  width: 50px;
  height: 50px;
  background: url("../img/sprite-a.png") 17px -303px no-repeat;
  cursor: pointer;
}

#search {
  position: fixed;
  left: -3000em;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.94);
  color: #444;
}

#search.active,
#search.active > .fit-a {
  left: 0;
}

.lt-ie9 #search {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2FFFFFF,endColorstr=#F2FFFFFF);
  zoom: 1;
}

#search fieldset {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 1040px;
  margin: -66px 0 0 -520px;
}

#search > .fit-a {
  display: block;
  position: fixed;
  left: -3000em;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#search p {
  margin: 0 0 38px;
  font-size: 4.4em;
}

.js #search label {
  position: absolute;
  padding: 0 46px;
  line-height: 132px;
  cursor: text;
}

#search input {
  width: 100%;
  height: 132px;
  padding: 0 45px;
  border: 1px solid #9f9f9f;
  font-size: 44px;
  line-height: 130px;
}

.js .form-a input {
  line-height: 130px;
}

#search .close {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 132px;
  height: 132px;
  border: 0;
  background: url("../img/sprite-a.png") -73px -112px no-repeat;
  text-align: left;
  text-indent: -3000em;
}

#search ul {
  list-style: none;
  padding: 0;
}

#search ul li {
  margin: 0 0 29px;
  padding: 0 46px;
  font-size: 2.4em;
}

#search ul li a {
  color: #444;
  text-decoration: none;
}

#search ul li a:hover,
#nav-mobile > li > a:hover,
#nav-mobile > li ul li a:hover {
  color: #60dd49;
}

#featured {
  overflow: hidden;
  position: relative;
  margin: 0;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
}

#featured article {
  overflow: hidden;
  position: absolute;
  left: -3000em;
  top: -3000em;
  margin: 0;
  padding: 171px 0 105px;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
}

#featured article:first-child,
.js #featured article {
  position: relative;
  left: 0;
  top: 0;
}

#featured h1,
#featured h2 {
  position: relative;
  z-index: 2;
  width: 980px;
  margin: 0 auto 6px;
  padding: 111px 0 0;
  color: #fff;
  font-size: 6.9em;
  line-height: .875;
  text-transform: uppercase;
  text-align: center;
}

#featured h1:before,
#featured h2:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 75px;
  height: 53px;
  margin: 0 0 0 -37.5px;
  background: url("../img/sprite-a.png") -85px -23px no-repeat;
}

#featured p {
  position: relative;
  z-index: 2;
  width: 890px;
  margin: 0 auto 27px;
  font-size: 2.4em;
  text-align: center;
}

#featured .link-a {
  font-size: 1.4em;
}

#featured .link-a a {
  display: -moz-inline-stack;
  display: inline-block;
  float: none;
  border-color: #fff;
  color: #fff;
}

#featured figure {
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 0;
}

.js #featured figure,
.js #featured img {
  position: absolute;
  left: -3000em;
}

#featured img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100% !important;
}

#featured .bx-viewport {
  position: relative;
  z-index: 1;
}

#featured .bx-pager {
  position: absolute;
  left: 50%;
  bottom: 56px;
  z-index: 2;
}

#featured .bx-pager .bx-pager-item {
  position: relative;
  left: -50%;
  float: left;
  padding: 0 0 0 10px;
}

#featured .bx-pager .bx-pager-item:first-child {
  padding: 0;
}

#featured .bx-pager .bx-pager-item a {
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-align: left;
  text-indent: -3000em;
}

#featured .bx-pager .bx-pager-item a.active {
  background: #fff;
  cursor: default;
}

.lt-ie9 #featured .bx-pager .bx-pager-item a {
  width: 10px;
  height: 10px;
  border: 0;
  background: url("../img/sprite-a.png") -107px -11px no-repeat;
}

.lt-ie9 #featured .bx-pager .bx-pager-item a.active {
  background: url("../img/sprite-a.png") -119px -11px no-repeat;
}

figure#featured {
  height: 500px;
}

#cv {
  overflow: hidden;
  position: relative;
  min-height: 510px;
  margin: 0;
  padding: 125px 0 115px;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #000;
}

#cv > * {
  position: relative;
  z-index: 1;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 800px 0 0;
}

#cv h1,
#cv h2 {
  margin: 0 0 22px;
  color: #252525;
  font-size: 6.9em;
  line-height: .875;
  text-transform: uppercase;
}

#cv header p {
  color: #444;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.3;
}

#cv h3 {
  margin-top: 0;
}

#cv > p {
  width: 290px;
  padding-right: 960px;
}

#cv figure {
  display: block;
  position: absolute;
  left: -3000em;
  top: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
}

#cv figure img {
  display: block;
  width: 100% !important;
}

#cv .double-a p {
  line-height: 2;
}

#cv .double-a .list-c {
  margin-top: -5px;
}

#cv h3 + .double-a {
  margin-top: -12px;
}

#team {
  position: relative;
  z-index: 4;
  padding: 84px 0;
  background: url("../img/backgrounds/b.jpg") fixed center 0 no-repeat #000;
  background-size: cover;
  color: #fff;
}

#team fieldset {
  width: 1250px;
  margin: 0 auto;
}

#team h2 {
  margin: -31px 0 70px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

#team p {
  width: auto;
  margin: 0 0 0 -20px;
  padding: 0 116px 0 0;
}

#team p > span {
  display: block;
  position: relative;
  float: left;
  width: 33.33%;
  border-left: 20px solid transparent;
}

#team p > span,
#team input,
#team select,
#team textarea,
#team button {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#team label,
.js #team label.hidden {
  position: absolute;
  left: -3000em;
}

.js #team label {
  left: 0;
  padding: 0 14px;
  line-height: 48px;
  cursor: text;
}

#team input,
#team select,
#team textarea,
#team button,
#team .semantic-select .input {
  width: 100%;
  border-color: #fff;
  color: #fff;
}

#team input,
#team select,
#team textarea,
#team .semantic-select .input,
#team .semantic-select ul {
  border: 1px solid #fff;
  background: none;
}

#team button {
  position: absolute;
  right: 0;
  top: 0;
  width: 96px;
  font-size: 14px;
}

#team .semantic-select .ticker:before {
  margin-top: -2.5px;
  background-position: -110px 0;
}

#team .semantic-select.active ul {
  position: relative;
  top: 0;
  margin: 0 0 -50px;
  border-top: 0;
}

#team .semantic-select.active ul li a {
  color: #fff;
}

#content {
  position: relative;
  z-index: 4;
  width: 820px;
  margin: 0 auto;
  padding: 99px 0 60px 430px;
}

#content:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
}

#aside {
  position: absolute;
  left: 29px;
  top: 50%;
  z-index: 3;
}

#aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#aside ul li {
  clear: both;
  padding: 2px 0 0;
  font-size: 1.4em;
  text-transform: uppercase;
}

#aside ul li:first-child {
  padding: 0;
}

#aside ul li a {
  display: block;
  float: left;
  min-width: 34px;
  height: 44px;
  padding: 0 18px;
  border: 2px solid #000;
  color: #666;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
}

#aside ul li.active a {
  font-weight: 700;
}

#content.a,
#content.cols-a,
#root > .content {
  position: relative;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

#root > .content {
  padding: 66px 0 60px;
}

#root > .content > * {
  position: relative;
  z-index: 2;
}

#root > .content:before {
  content: "";
  display: block;
  position: absolute;
  left: -1000em;
  top: 0;
  z-index: 2;
  width: 3000em;
  height: 100%;
}

#root > .content.a,
#root > .content.a:before {
  background: #fff;
}

#map {
  overflow: hidden;
  position: relative;
}

#map article {
  position: absolute;
  z-index: 99991;
  width: 200px;
  margin: 0 0 0 -195px;
  padding: 23px 30px 0 160px;
  background: #444;
  color: #ccc;
}

#map article:before {
  content: "";
  display: block;
  position: absolute;
  left: 47px;
  top: 50%;
  width: 75px;
  height: 53px;
  margin: -26.5px 0 0;
  background: url("../img/sprite-a.png") -85px -23px no-repeat;
}

#map article:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 26px;
  height: 13px;
  margin: 0 0 0 -13px;
  background: url("../img/sprite-a.png") 0 -29px no-repeat;
}

#map h1,
#map h2,
#map h3,
#map h4 {
  margin: 0;
  color: #ccc;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.625;
}

#map p {
  margin: 0 0 20px;
}

#map a {
  color: #ccc;
  text-decoration: none;
}

#map a.close {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 17px;
  top: 17px;
  width: 16px;
  height: 16px;
  background: url("../img/sprite-a.png") -144px 0 no-repeat;
  text-indent: -3000em;
  text-align: left;
}

#map > figure {
  position: relative;
  z-index: 1;
  margin: 0;
}

#map > figure > * {
  display: block;
  overflow: hidden;
  width: 100% !important;
  height: 840px !important;
}

#footer {
  position: relative;
  z-index: 2;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 62px 0 26px;
  background: #252525;
  color: #ccc;
}

#footer:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
}

#footer:before {
  content: "";
  display: block;
  position: absolute;
  left: -1000em;
  top: 0;
  z-index: 0;
  width: 3000em;
  height: 100%;
  background: #252525;
}

#footer > * {
  position: relative;
  z-index: 1;
}

#footer > *:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
}

#footer > nav {
  z-index: 2;
  padding: 0 0 68px;
}

#footer > nav > * {
  float: left;
  width: 24%;
  padding-right: 1%;
}

#footer > nav h2,
#footer > nav h3,
#footer > nav h4 {
  margin: 0 0 17px;
  color: #777;
  font-size: 1.4em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
}

#footer > nav ul {
  padding: 0;
}

#footer > nav ul li {
  margin: 0 0 15px;
}

#footer p {
  margin-bottom: 22px;
}

#footer a {
  color: #ccc;
  text-decoration: none;
}

#footer a:hover {
  color: #60DD49;
}

#footer .link-a a {
  border-color: #777;
  color: #777;
}

#footer > p {
  position: relative;
  margin: 0;
  padding: 23px 0 0;
  border-top: 1px solid #3e3e3e;
  color: #777;
  font-size: 1.2em;
}

#footer > p:before {
  content: "";
  display: block;
  position: absolute;
  left: -1000em;
  top: -1px;
  width: 3000em;
  height: 1px;
  background: #3e3e3e;
}

#footer > p a {
  color: #777;
}

#footer .social-a {
  padding: 5px 0 0;
}

#footer .social-a li {
  background-color: #000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 1rem;
  line-height: 1rem;
}

#footer .social-a li a {
  position: relative;
  display: block;
  height: 45px;
  text-align: center;
}

#footer .social-a li a svg {
  position: absolute;
  top: 48%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.mobile #featured,
.mobile #cv,
.mobile #team,
.mobile .news-b-wrapper,
.mobile #featured article {
  background-attachment: scroll;
}

/*! Columns --------- */

.cols-a {
  width: 100%;
}

.cols-a:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
}

.cols-a > *:first-child {
  float: right;
  width: 820px;
}

.cols-a > aside {
  float: left;
  width: 404px;
}

.double-a {
  width: 100%;
}

.double-a:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
}

.double-a > * {
  float: right;
}

.double-a > *:first-child {
  float: left;
}

.double-a.a > * {
  float: left;
  margin-right: 20px;
  margin-top: 0;
}

/*! Modules --------- */

.gallery-a {
  overflow: hidden;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.gallery-a li {
  float: left;
  width: 25%;
  padding: 0 0 86px;
}

.gallery-a li:nth-child(4n) + li {
  clear: both;
}

.gallery-a li .img {
  display: block;
  position: relative;
  width: 226px;
  height: 226px;
  margin: 0 auto 34px;
}

.gallery-a li .img img {
  display: block;
  position: relative;
  z-index: 1;
}

.gallery-a li .img:before,
.vcard.a figure a:before {
  content: "";
  display: block;
  position: absolute;
  left: -3000em;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.54);
}

.lt-ie9 .gallery-a li .img:before,
.lt-ie9 .vcard.a figure a:before {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C000000,endColorstr=#8C000000);
  zoom: 1;
}

.gallery-a li .img:after,
.vcard.a figure a:after {
  content: "";
  display: block;
  position: absolute;
  left: -3000em;
  top: 50%;
  z-index: 3;
  width: 75px;
  height: 53px;
  margin: -26.5px 0 0 -37.5px;
  background: url("../img/sprite-a.png") -85px -23px no-repeat;
}

/*Only add hover on desktop version*/

.desktop-view .gallery-a li .img:hover:before,
.vcard.a figure a:hover:before {
  left: 0;
}

.desktop-view .gallery-a li .img:hover:after,
.vcard.a figure a:hover:after {
  left: 50%;
}

.gallery-a li .fn {
  display: block;
  margin: 0 0 -3px;
  color: #444;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.45;
  text-transform: uppercase;
}

.gallery-a a {
  text-decoration: none;
}

#content > .gallery-a:first-child {
  margin-top: -31px;
}

.gallery-a:last-child {
  margin-bottom: -60px;
}

.gallery-a.last-child {
  margin-bottom: -60px;
}

.news-a article {
  margin: 0 0 30px;
}

.news-a header p {
  margin: 0 0 1px;
}

.news-a h2,
.news-a h3 {
  margin: 0 0 4px;
  font-size: 2em;
}

.scheme-a + .news-a {
  margin-top: -41px;
}

.news-b {
  position: relative;
}

.news-b:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
}

#root > .news-b,
.frontpage > .news-b,
.frontpage > .news-b-wrapper > .news-b,
#root > .news-b-wrapper > .news-b {
  width: 1250px;
  margin: 0 auto;
  padding: 66px 0 60px;
}

.news-b > * {
  position: relative;
  z-index: 2;
}

.news-b:before {
  content: "";
  display: block;
  position: absolute;
  left: -1000em;
  top: 0;
  z-index: 2;
  width: 3000em;
  height: 100%;
}

.news-b header {
  text-align: center;
}

.news-b h1,
.news-b h2 {
  margin: 0 0 58px;
  text-align: center;
  text-transform: uppercase;
}

.news-b h1 + .scheme-a,
.news-b h2 + .scheme-a {
  margin-top: -40px;
}

.news-b header p.link {
  position: absolute;
  right: 0;
  top: 27px;
}

.news-b article {
  position: relative;
  float: left;
  width: 400px;
  margin: 0 25px 20px 0;
}

.news-b article:last-child {
  float: right;
  margin: 0;
}

.news-b article.last-child {
  float: right;
  margin: 0;
}

.js .news-b article .link-a {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}

.js .news-b article.has-link-a {
  padding-bottom: 75px;
}

.news-b.a,
.news-b.a:before {
  background: #fff;
}

.news-b.double article {
  width: 48%;
  margin-right: 0;
}

.news-b-wrapper {
  background: url("../img/backgrounds/e.jpg") fixed center center no-repeat #fff;
  background-size: cover;
}

.social-a {
  overflow: hidden;
  list-style: none;
  width: 100%;
  padding: 0;
}

.social-a li {
  float: left;
}

.social-a li:first-child {
  padding: 0;
}

.vcard.a {
  margin: 8px 0 44px;
  text-align: center;
}

.vcard.a figure {
  margin-bottom: 31px;
}

.vcard.a figure a {
  display: block;
  position: relative;
  width: 150px;
  margin: 0 auto;
}

.vcard.a h2,
.vcard.a h3,
.vcard.a h4 {
  margin: 0 0 1px;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
}

.vcard.a p {
  margin: 0 0 20px;
}

.vcard.a a {
  text-decoration: none;
}

/*! Headers --------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 39px 0 11px;
  color: #444;
  font-weight: 700;
  line-height: 1.45;
}

h1,
h2 {
  margin-bottom: 14px;
  font-weight: 900;
  line-height: 1.225;
}

h1 {
  font-size: 5.5em;
}

h2 {
  font-size: 4.9em;
}

h3 {
  font-size: 2.6em;
}

h4 {
  font-size: 2.4em;
}

h5 {
  font-size: 2.2em;
}

h6 {
  font-size: 2.0em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #444;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #60dd49;
}

.double-a.a + h1,
.double-a.a + h2,
.double-a.a + h3,
.double-a.a + h4,
.double-a.a + h5,
.double-a.a + h6 {
  margin-top: 12px;
}

.header-a {
  margin: 0;
  font-size: 6.9em;
  text-align: center;
  text-transform: uppercase;
}

#content > .header-a:first-child {
  margin-top: 92px;
}

.header-b {
  margin: 0 0 47px;
  text-align: center;
  text-transform: uppercase;
}

/*! Typography --------- */

h1 strong {
  font-weight: 900;
}

b,
strong,
.strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

dfn,
em,
i,
.em {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.scheme-a {
  margin-bottom: 71px;
  color: #444;
  font-size: 2.4em;
}

.scheme-b {
  font-size: 1.4em;
}

.scheme-b + h1,
.scheme-b + h2 {
  margin-top: -29px;
}

#content > .scheme-b:first-child,
.cols-a > *:first-child > .scheme-b:first-child {
  margin-top: -19px;
}

.scheme-c,
.scheme-c a,
.scheme-a a {
  color: #444;
}

.scheme-d {
  text-align: center;
}

/*! Links --------- */

a {
  background: none;
  color: #666;
  text-decoration: underline;
  cursor: pointer;
}

/*---*/

a span {
  cursor: pointer;
}

a:hover,
a:focus,
a:active,
#map a:hover {
  color: #60dd49;
}

a.tel {
  text-decoration: none;
}

.link-a {
  overflow: hidden;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.link-a a {
  display: block;
  float: left;
  min-width: 93px;
  height: 44px;
  padding: 0 25px;
  border: 2px solid #000;
  color: #000;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
}

.link-a a:hover,
#aside ul li a:hover,
#footer .link-a a:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
#team button:hover,
#featured .link-a a:hover {
  border-color: #60dd49;
  background: #60dd49;
  color: #fff;
}

.link-b a,
a.link-b {
  text-decoration: none;
}

/*! Figures --------- */

img {
  max-width: 100% !important;
  height: auto !important;
  border-width: 0;
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

#map-canvas img {
  max-width: none !important;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

figure {
  margin: 32px 0 40px;
}

figcaption {
  display: block;
  margin: 17px 0 0;
}

figcaption:first-child {
  margin: 0 0 17px;
}

.loading-a {
  display: block;
  overflow: hidden;
  width: 38px;
  height: 38px;
  margin: 98px auto 26px;
  background: url("../img/sprite-a.png") -42px 0 no-repeat;
  text-align: left;
  text-indent: -3000em;
}

.loading-a {
  animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -webkit-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  -ms-animation: rotation 1s infinite linear;
}

/*! Lists --------- */

ul,
ol,
dd,
blockquote {
  padding-left: 40px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 14px;
}

#content ul li {
  position: relative;
}

ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: -14px;
  top: 11px;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background: #666;
}

.social-a li:before,
.list-a li:before,
.checklist-a li:before,
.list-b li:before,
.gallery-a li:before,
.semantic-select ul li:before,
#nav > ul.b > li > ul li:before,
#nav > ul.a > li > div ul li:before,
#nav-mobile li:before {
  left: -3000em;
}

.list-a {
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
}

.list-a li {
  margin: 0 0 28px;
  font-size: 2em;
}

.list-a li a {
  color: #444;
  font-weight: 700;
}

.list-a li a:hover {
  color: #60dd49;
}

.scheme-a + .list-a {
  margin-top: -18px;
}

.list-b {
  list-style: none;
  padding: 0;
}

.list-b li {
  margin: 0 0 4px;
  padding-left: 110px;
  font-weight: 700;
}

.list-b li > span:first-child {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
}

.list-c {
  list-style: none;
  padding: 0;
}

.list-c li {
  position: relative;
  min-height: 42px;
  margin: 0 0 14px;
  padding: 8px 0 0 70px;
}

.list-c li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: url("../img/sprite-a.png") 0 -243px no-repeat;
}

.list-c li.li:before {
  background-position: -54px -243px;
}

.list-c li.vc:before {
  background-position: -108px -243px;
}

/*! Forms --------- */

fieldset,
hr {
  border-width: 0;
}

legend {
  position: absolute;
  left: 0;
  top: -3000em;
  padding: 0;
  border: 0;
  white-space: normal;
}

input,
select,
textarea {
  position: relative;
  margin: 0;
  border-radius: 0;
  text-align: left;
  text-transform: none;
}

input {
  z-index: 1;
  line-height: 1;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"],
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-o-outer-spin-button,
input[type="number"]::-o-inner-spin-button {
  -o-appearance: none;
  margin: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

select {
  text-overflow: '';
  text-indent: 0.01px;
  text-transform: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  overflow: visible;
  position: relative;
  z-index: 3;
  margin: 0;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
  outline: none;
}

form [disabled] {
  cursor: default;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}

::-moz-placeholder {
  opacity: 1;
  color: inherit;
}

:-moz-placeholder {
  opacity: 1;
  color: inherit;
}

:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

label {
  display: block;
  left: 0;
  top: 0;
  z-index: 2;
}

form p {
  position: relative;
  clear: both;
}

form p:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  height: 48px;
  padding: 0 13px;
  line-height: 1;
}

input,
textarea,
.semantic-select .input,
.semantic-select ul {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="color"] {
  padding: 0;
  cursor: pointer;
}

.lt-ie9 input[type="date"],
.lt-ie9 input[type="datetime"],
.lt-ie9 input[type="datetime-local"],
.lt-ie9 input[type="email"],
.lt-ie9 input[type="month"],
.lt-ie9 input[type="number"],
.lt-ie9 input[type="password"],
.lt-ie9 input[type="range"],
.lt-ie9 input[type="search"],
.lt-ie9 input[type="tel"],
.lt-ie9 input[type="text"],
.lt-ie9 input[type="time"],
.lt-ie9 input[type="url"],
.lt-ie9 input[type="week"] {
  line-height: 44px;
}

select {
  padding: 12px 12px 12px 9px;
}

textarea {
  padding: 9px 9px 9px 13px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
.semantic-select .input {
  position: relative;
  z-index: 1;
  box-shadow: none;
  border-radius: 0;
  border: 2px solid #444;
  background: none;
  color: #444;
  font-size: 16px;
  outline: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  height: 48px;
  padding: 0 30px;
  border: 2px solid #000;
  background: none;
  color: #444;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.semantic-select {
  position: relative;
  z-index: 10;
}

.semantic-select .input {
  overflow: hidden;
  height: 48px;
  padding: 0 45px 0 13px;
  background: none;
  line-height: 44px;
}

.semantic-select .input .text {
  overflow: hidden;
}

.semantic-select .ticker {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.semantic-select .ticker:before {
  content: "";
  display: block;
  position: absolute;
  right: 18px;
  top: 50%;
  width: 15px;
  height: 9px;
  margin: -4.5px 0 0;
  background: url("../img/sprite-a.png") -127px 0 no-repeat;
}

.semantic-select ul {
  position: absolute;
  left: -3000em;
  top: 46px;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 16px 0;
  border: 2px solid #444;
  background: #fff;
}

.semantic-select ul li a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
}

.semantic-select.scrolled ul {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 150px;
}

.semantic-select.active ul {
  left: 0;
}

.checklist-a {
  list-style: none;
  margin: 30px 0 56px;
  padding: 0;
}

.checklist-a li {
  margin: 0 0 36px;
  font-size: 1.6em;
}

.checklist-a label {
  display: block;
  position: relative;
  padding: 0 0 0 46px;
  font-weight: 700;
}

.checklist-a label > .fit-a {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 23px;
  height: 20px;
  background: url("../img/sprite-a.png") -57px -43px no-repeat;
  cursor: pointer;
}

.checklist-a label.active > .fit-a {
  background-position: -83px 0;
}

.checklist-a label input {
  position: absolute;
  left: 2px;
  top: 4px;
}

.js .checklist-a label input {
  left: -3000em;
}

.input-a {
  width: auto;
  margin-left: -10px;
}

.input-a > span {
  display: block;
  position: relative;
  float: left;
  width: 33.33333333%;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.input-a > span {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.js .input-a label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 15px;
  color: #444;
  line-height: 48px;
  cursor: text;
}

.input-a button,
.input-a select,
.input-a input {
  width: 100%;
}

.input-a button {
  padding: 0;
}

.form-a {
  max-width: 1040px;
  margin: 0 auto 130px;
  color: #444;
}

.form-a p {
  font-size: 4.4em;
}

.js .form-a label {
  position: absolute;
  padding: 0 46px;
  line-height: 132px;
  cursor: text;
}

.form-a input {
  width: 100%;
  height: 132px;
  padding: 0 45px;
  border: 1px solid #9f9f9f;
  font-size: 44px;
  line-height: 130px;
}

.js .form-a input {
  line-height: 130px;
}

.form-a button {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 132px;
  height: 132px;
  border: 0;
  background: url("../img/sprite-a.png") 51px -107px no-repeat;
  text-align: left;
  text-indent: -3000em;
}

.scheme-a + .form-a {
  margin-top: 80px;
}

/*! Tables --------- */

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 5px 10px;
  border: 1px solid #eee;
  font-weight: 400;
  text-align: left;
}

/*! Helpers --------- */

* {
  transition: color 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -moz-transition: color 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -webkit-transition: color 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -o-transition: color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -ms-transition: color 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -ms-transform-origin: center center;
      transform-origin: center center;
  -moz-transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
}

.clear {
  clear: both;
  overflow: hidden;
  width: 100%;
  height: 0;
}

.hidden,
[hidden] {
  position: absolute;
  left: -3000em;
  top: 0;
}

hr,
.hr {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
  background: none;
  font-size: 0;
}

.hr hr {
  display: none;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.loading-a:first-child,
.checklist-a:first-child,
figure:first-child {
  margin-top: 0;
}

#root .mb-a {
  margin-bottom: 0;
}

#root .mb-b {
  margin-bottom: 57px;
}

#root .mb-c {
  margin-bottom: 48px;
}

#root .mb-d {
  margin-bottom: 14px;
}

#root .mb-e {
  margin-bottom: 80px;
}

/*! Miscellaneous --------- */

svg:not(:root) {
  overflow: hidden;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

#root .desktop-hide,
#root .tablet-only,
#root .mobile-only {
  position: absolute;
  left: -3000em;
  top: -3000em;
  bottom: inherit;
  right: inherit;
}

/*! Fonts --------- */

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proxima_nova_reg.eot");
  src: url("../fonts/proxima_nova_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_reg.woff2") format("woff2"), url("../fonts/proxima_nova_reg.woff") format("woff"), url("../fonts/proxima_nova_reg.ttf") format("truetype"), url("../fonts/proxima_nova_reg.svg#proxima_nova_rgregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proxima_nova_reg_it.eot");
  src: url("../fonts/proxima_nova_reg_it.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_reg_it.woff2") format("woff2"), url("../fonts/proxima_nova_reg_it.woff") format("woff"), url("../fonts/proxima_nova_reg_it.ttf") format("truetype"), url("../fonts/proxima_nova_reg_it.svg#proxima_novaregular_italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proximanova-sbold.eot");
  src: url("../fonts/proximanova-sbold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-sbold.woff2") format("woff2"), url("../fonts/proximanova-sbold.woff") format("woff"), url("../fonts/proximanova-sbold.ttf") format("truetype"), url("../fonts/proximanova-sbold.svg#proxima_novasemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proximanova-sbolditalic.eot");
  src: url("../fonts/proximanova-sbolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-sbolditalic.woff2") format("woff2"), url("../fonts/proximanova-sbolditalic.woff") format("woff"), url("../fonts/proximanova-sbolditalic.ttf") format("truetype"), url("../fonts/proximanova-sbolditalic.svg#proxima_novasemibold_italic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proxima_nova_bold.eot");
  src: url("../fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold.woff2") format("woff2"), url("../fonts/proxima_nova_bold.woff") format("woff"), url("../fonts/proxima_nova_bold.ttf") format("truetype"), url("../fonts/proxima_nova_bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proxima_nova_bold_it.eot");
  src: url("../fonts/proxima_nova_bold_it.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold_it.woff2") format("woff2"), url("../fonts/proxima_nova_bold_it.woff") format("woff"), url("../fonts/proxima_nova_bold_it.ttf") format("truetype"), url("../fonts/proxima_nova_bold_it.svg#proxima_nova_rgbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proxima_nova_black.eot");
  src: url("../fonts/proxima_nova_black.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_black.woff2") format("woff2"), url("../fonts/proxima_nova_black.woff") format("woff"), url("../fonts/proxima_nova_black.ttf") format("truetype"), url("../fonts/proxima_nova_black.svg#proxima_novablack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proxima_nova_black_it.eot");
  src: url("../fonts/proxima_nova_black_it.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_black_it.woff2") format("woff2"), url("../fonts/proxima_nova_black_it.woff") format("woff"), url("../fonts/proxima_nova_black_it.ttf") format("truetype"), url("../fonts/proxima_nova_black_it.svg#proxima_novablack_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

/*! Animations --------- */

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Responsive --------- */

@media only screen and (max-width: 1300px) {
  /* 1260 */

  #top h1,
  #logo,
  #content,
  #footer,
  #root > .news-b,
  .frontpage > .news-b,
  .frontpage > .news-b-wrapper > .news-b,
  #root > .news-b-wrapper > .news-b,
  #content.a,
  #content.cols-a,
  #search fieldset,
  #aside,
  #team fieldset,
  #root > .content,
  #cv > *,
  #cv > p,
  #nav > ul.a > li > div {
    width: 980px;
  }

  #search fieldset {
    margin-left: -490px;
  }

  #nav {
    margin-right: -490px;
  }

  #nav > ul.a > li {
    margin-left: 30px;
  }

  #cv > * {
    padding-right: 530px;
  }

  #cv > p {
    padding-right: 690px;
  }

  #team p {
    margin-left: -10px;
    padding-right: 106px;
  }

  #team p > span {
    border-left-width: 10px;
  }

  #aside {
    position: inherit;
    top: 0 !important;
  }

  #content {
    padding-left: 160px;
  }

  #aside {
    overflow: hidden;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 0 !important;
    margin: 0 auto !important;
    padding: 50px 0 0;
    text-align: center;
  }

  #aside ul li {
    display: -moz-inline-stack;
    display: inline-block;
    float: none;
    margin: 0 .5px;
    padding: 0;
    clear: none;
  }

  .cols-a > *:first-child {
    width: 650px;
  }

  .cols-a > aside {
    width: 240px;
  }

  .news-b article {
    width: 310px;
  }

  #aside.scroll-to-fixed-fixed + div {
    position: absolute;
    left: -3000em;
    top: -3000em;
  }

  #content,
  #cv > * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
}

@media only screen and (max-width: 1040px) {
  /* 1000 */

  #top h1,
  #logo,
  #content,
  #footer,
  #root > .news-b,
  .frontpage > .news-b,
  .frontpage > .news-b-wrapper > .news-b,
  #root > .news-b-wrapper > .news-b,
  #content.a,
  #content.cols-a,
  #search fieldset,
  #aside,
  #team fieldset,
  #root > .content,
  #cv > *,
  #cv > p,
  #featured h1,
  #featured h2,
  #featured p,
  #nav > ul.a > li > div {
    width: 720px;
  }

  #search fieldset {
    margin-left: -360px;
  }

  #nav {
    margin-right: -360px;
  }

  #nav > ul.a > li {
    margin-left: 20px;
    font-size: 1.4em;
    text-transform: none;
  }

  #nav > ul.b {
    width: 780px;
    right: 0px;
    padding-right: 230px;
  }

  #team h2 {
    margin-bottom: 40px;
  }

  #cv > * {
    padding-right: 270px;
  }

  #cv > p {
    padding-right: 430px;
  }

  #content {
    padding-left: 0;
  }

  #aside {
    left: 10px;
  }

  #footer p,
  #footer > nav ul li {
    font-size: 1.4em;
  }

  #footer > p {
    font-size: 1.2em;
  }

  h1,
  h2,
  #featured h1,
  #featured h2,
  .header-a {
    font-size: 3.6em;
  }

  h3 {
    font-size: 2.4em;
  }

  h4,
  .scheme-a {
    font-size: 2.2em;
  }

  h5 {
    font-size: 2.0em;
  }

  h6,
  #featured p {
    font-size: 1.8em;
  }

  .cols-a > *:first-child {
    width: 460px;
  }

  .cols-a > aside {
    width: 220px;
  }

  .gallery-a li {
    width: 33.333333%;
  }

  .gallery-a li:nth-child(4n) + li {
    clear: none;
  }

  .gallery-a li:nth-child(3n) + li {
    clear: both;
  }

  .news-b article {
    width: 223px;
  }

  .news-b header p.link {
    top: 15px;
  }

  #root .desktop-hide,
  #root .tablet-only {
    position: relative;
    left: 0;
    top: 0;
  }

  #root .desktop-only,
  #root .tablet-hide {
    position: absolute;
    left: -3000em;
    top: -3000em;
    bottom: inherit;
    right: inherit;
  }
}

@media only screen and (max-width: 780px) {
  /* 760 */

  #content,
  #root > .news-b,
  .frontpage > .news-b,
  .frontpage > .news-b-wrapper > .news-b,
  #root > .news-b-wrapper > .news-b,
  #content.a,
  #content.cols-a,
  #root > .content,
  #aside,
  #team fieldset,
  #featured h1,
  #featured h2,
  #featured p,
  #footer,
  #top h1,
  #logo {
    width: 90%;
  }

  #top,
  .no-mobile #top {
    position: absolute;
  }

  #nav {
    right: 5%;
    width: 90%;
    margin: 0;
  }

  #nav > ul.c {
    left: 0;
    right: auto;
  }

  #nav > ul.c > li:hover > ul {
    top: -3000em;
  }

  #top.toggle + #nav-mobile {
    position: relative;
    right: 0;
    top: 0;
    margin: 0;
  }

  #top > .fit-a {
    top: 18px;
  }

  #featured,
  .news-b-wrapper,
  #team,
  #featured article {
    background-attachment: scroll;
  }

  figure#featured {
    height: 200px;
  }

  #featured h1,
  #featured h2 {
    padding-top: 0;
  }

  #featured .bx-pager {
    bottom: 20px;
  }

  #team p {
    margin-left: 0;
    padding: 0;
  }

  #team p > span {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    border: 0;
  }

  #team button {
    position: relative;
    width: 100%;
  }

  #team .semantic-select.active ul {
    margin-bottom: 0;
  }

  #featured article {
    min-height: 0;
    padding: 80px 0 60px;
  }

  #cv {
    min-height: 0;
    padding: 0;
    background-position: -3000em -3000em;
    background-color: #fff;
  }

  #cv > *,
  #cv > p {
    width: 90%;
    padding-right: 0;
  }

  #cv header p {
    font-size: 2.4em;
  }

  #cv figure {
    position: relative;
    left: 0;
    margin: 0 0 40px;
  }

  #cv + #content {
    padding-top: 40px;
  }

  #map article {
    overflow: hidden;
    position: relative;
    left: 0 !important;
    top: 0 !important;
    width: auto;
    margin: 0;
    padding-left: 25px;
  }

  #map > figure > * {
    height: 300px !important;
  }

  #footer > nav {
    padding-bottom: 0;
  }

  #footer > nav > * {
    float: none;
    width: auto;
    margin-bottom: 70px;
    padding-right: 0;
  }

  h1,
  h2,
  #featured h1,
  #featured h2,
  .header-a,
  #cv h1,
  #cv h2 {
    font-size: 2.8em;
    line-height: 1.225;
  }

  h3 {
    font-size: 2.0em;
  }

  h4,
  .scheme-a {
    font-size: 1.8em;
  }

  h5,
  h6,
  #featured p {
    font-size: 1.7em;
  }

  #root .cols-a > *,
  #root .double-a > * {
    float: none;
    width: auto;
  }

  .cols-a > *:first-child {
    margin-bottom: 100px;
  }

  #content > .header-a:first-child {
    margin-top: 0;
  }

  .gallery-a li {
    float: none;
    width: auto;
  }

  .input-a {
    margin-left: 0;
  }

  .input-a > span {
    float: none;
    width: auto;
    margin: 0 0 10px;
    border: 0;
  }

  .input-a > span:last-child,
  #root .news-b article:last-child,
  #team p > span:last-child,
  #footer > nav > *last-child {
    margin-bottom: 0;
  }

  .list-b li {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .list-b li > span:first-child {
    display: block;
    position: relative;
    font-size: .8em;
  }

  .news-b header p.link {
    position: relative;
    left: 0;
    top: 0;
    margin: -40px 0 40px;
  }

  #root .news-b article {
    float: none;
    width: auto;
    margin: 0 0 70px;
  }

  .form-a {
    margin-bottom: 0;
  }

  .form-a p {
    font-size: 1.6em;
  }

  .form-a input {
    height: 48px;
    padding: 0 13px;
    font-size: 1em;
  }

  .js .form-a label {
    padding: 0 14px;
    line-height: 48px;
  }

  .form-a button {
    display: block;
    overflow: hidden;
    position: relative;
    float: none;
    width: 100%;
    height: 48px;
    margin: 8px 0 0;
    padding: 0 30px;
    border: 2px solid #000;
    background: none;
    color: #444;
    text-transform: uppercase;
    text-indent: 0;
    text-align: center;
    letter-spacing: .1em;
  }

  .form-a button:hover {
    border-color: #60dd49;
    background: #60dd49;
    color: #fff;
  }

  .scheme-a + .form-a {
    margin-top: 30px;
  }

  #root .tablet-hide,
  #root .mobile-only {
    position: relative;
    left: 0;
    top: 0;
  }

  #root .tablet-only,
  #root .mobile-hide,
  #featured h1:before,
  #featured h2:before,
  #map article:before,
  #map article:after,
  #nav > ul.a,
  #nav > ul.b,
  #nav > ul.c:before {
    position: absolute;
    left: -3000em;
    top: -3000em;
    bottom: inherit;
    right: inherit;
  }
}

/*
*On around line 211 in main.css I added to a class to only add hover on the desktop versions
*.desktop-view .gallery-a li .img:hover:before, .vcard.a figure a:hover:before { left: 0; }
*.desktop-view .gallery-a li .img:hover:after, .vcard.a figure a:hover:after { left: 50%; }
*/

#aside {
  z-index: 8 !important;
}

#aside ul li a {
  background: white;
  white-space: nowrap;
}

.d .active {
  font-weight: bold;
}

.input-a > span:last-child {
  width: 100%;
}

.input-a > span:last-child input {
  margin-top: 2px;
  text-align: center;
}

.page-template-template-basicpage-php #content {
  font-size: 16px;
}

.page-template-template-basicpage-php #content h2 {
  font-size: 49px;
}

.page-template-template-basicpage-php #content h3 {
  font-size: 26px;
}

.page-template-template-basicpage-php #content p {
  font-size: 16px;
}

.page-template-template-basicpage-php #content ul li,
ol li {
  font-size: 16px;
}

#team button {
  padding: 0 !important;
}

.ui-autocomplete {
  top: 0 !important;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.autocomplete_container {
  width: 100%;
  overflow: hidden;
}

.search-form .ui-menu-item,
.ui-autocomplete {
  max-width: 110% !important;
  width: 110% !important;
  float: left;
  box-sizing: border-box;
}

input#sa {
  box-sizing: border-box;
}

.search-form .ui-menu-item {
  cursor: pointer;
}

.news-b .has-link-a a {
  text-decoration: none;
}

.center_event {
  margin: 0 auto !important;
  float: none !important;
  text-align: center !important;
}

#cv.NotFullSized {
  background-size: auto 100%;
  background-position: right;
}

#before_cv {
  position: absolute;
  background: #ffffff;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  content: "";
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 81.25em) {
  #cv > p {
    width: 450px;
    padding-right: 800px;
  }
}

.scheme-a {
  margin-bottom: 40px !important;
}

.ip-nav-heading strong {
  font-weight: 900;
  white-space: nowrap;
}

.ip-nav-heading {
  font-weight: 700;
  white-space: nowrap;
}

.inpage-nav-ul li a strong {
  font-weight: normal !important;
  white-space: nowrap;
}

.inpage-nav-ul li.active a strong {
  font-weight: 700 !important;
  white-space: nowrap;
}

#content .ip-nav-heading,
#content .ip-nav-heading strong {
  white-space: normal !important;
}

.year-in-table {
  float: left;
  min-width: 100px !important;
}

.ui-helper-hidden-accessible {
  display: none;
}

/* knowledge single post*/

.single-knowledge article p.date_post,
.single-post article p.date_post,
.single-event article p.date_post {
  margin-bottom: 0px;
}

.single-knowledge article p.before_title,
.single-post article p.before_title,
.single-event article p.before_title {
  margin-bottom: 40px;
}

/*
* News Styling Content
*/

#content h1 strong {
  font-weight: 900;
}

#content h2 {
  font-size: 2.4em;
  font-weight: 700;
}

#content h2 strong {
  font-weight: 900;
}

#content h3 {
  font-size: 2.2em;
}

#content h4 {
  font-size: 2.0em;
}

#content h5 {
  font-size: 1.8em;
}

#content h6 {
  font-size: 1.6em;
}

.page-template-template-employees-php li.vcard span.fn {
  height: 68px;
  display: block;
  overflow: hidden;
}

.page-template-template-employees-php li.vcard span.titles_and_city {
  display: block;
  height: 30px;
}

@media only screen and (max-width: 47.5em) {
  /* 760 */

  .page-template-template-employees-php li.vcard span.fn {
    height: auto;
    overflow: auto;
  }

  .page-template-template-employees-php li.vcard span.titles_and_city {
    height: auto;
  }
}

.single-specialty figure#featured {
  background-position: center center;
}

.page-template-template-newsletter_signup-php figure#featured {
  background-position: center center;
}

@media only screen and (max-width: 47.5em) {
  #nav > ul.c > li:hover > ul {
    top: inherit;
    left: 0;
  }
}

#nav-mobile form input {
  box-sizing: border-box;
}

#content ol {
  padding-left: 14px !important;
  counter-reset: li-counter;
}

#content ol li:before {
  text-align: center;
  position: absolute;
  margin-left: -16px;
  width: 14px;
  content: counter(li-counter) ".";
  counter-increment: li-counter;
}

/* Auto complete search spinner*/

.autocomplete_container #icon_spinner {
  margin: 0 auto;
}

/* Cookie Box */

.cookie-box {
  width: 100%;
  z-index: 9999999;
  position: fixed;
  bottom: -300px;
  left: 0;
  right: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.cookie-box-inner {
  display: table;
  width: 100%;
}

.cookie-box-content {
  float: left;
  width: 80%;
}

.cookie-box-accept {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.gm-style .gm-style-iw {
  overflow: visible !important;
}

@media only screen and (max-width: 47.5em) {
  .cookie-box {
    width: 100%;
    padding: 5%;
  }

  .cookie-box-content {
    width: 100%;
  }

  .cookie-box-accept {
    display: block;
    width: 100%;
  }
}

.share-buttons ul li::before {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.share-buttons ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 0 10px 0 !important;
}

.share-buttons ul li {
  margin: 0;
  padding: 0 10px 0 0;
  display: inline-block;
}

/* Area knowledge section */

section.knowledge-posts article::before {
  content: '';
  border-top: 1px solid #000000;
}

section.knowledge-posts.content {
  position: relative;
  z-index: 4;
  width: 820px !important;
  margin: 0 auto;
  padding: 0 0 60px 430px !important;
}

section.knowledge-posts.content header p {
  margin-bottom: 0;
}

section.knowledge-posts.content header h3 {
  margin-top: 0;
}

@media only screen and (max-width: 1300px) {
  section.knowledge-posts.content {
    padding-left: 160px;
  }
}

/* CSS Fix for employee search */

.page-id-1414 #team p > span,
.page-id-97 #team p > span {
  width: 25%;
}

@media only screen and (max-width: 780px) {
  .page-id-1414 #team p > span,
  .page-id-97 #team p > span {
    width: 100%;
  }
}

.single-specialty .news-b article:last-child {
  float: left;
}

#nav > ul.a > li.no-split > div > ul {
  width: 100%;
}

#nav > ul.a > li.no-split > div {
  position: absolute;
  margin-left: -30px;
  left: auto;
  right: auto;
  width: auto;
}

/* Single area of expertise */

@media (min-width: 1300px) and (max-width: 1610px) {
  .single-specialty .gallery-a {
    margin-left: auto;
    margin-right: auto;
    width: 1120px !important;
  }

  .single-specialty .news-b-wrapper .news-b.b {
    padding-left: 180px !important;
  }

  .single-specialty .news-b.b.knowledge-section {
    padding-left: 0px !important;
    width: 1040px !important;
  }

  .single-specialty .news-b-wrapper .news-b.b article {
    width: 330px;
  }
}

/*
    Single Employee Page
*/

#cv .emp-content {
  width: 1250px;
  padding: 0 !important;
}

@media only screen and (max-width: 1300px) {
  #cv .emp-content {
    width: 980px;
  }
}

@media only screen and (max-width: 1040px) {
  #cv .emp-content {
    width: 720px;
  }
}

@media only screen and (max-width: 780px) {
  #cv .emp-content {
    width: 90%;
  }
}

#cv .emp-content header,
#cv .emp-content h3,
#cv .emp-content p,
#cv .emp-content .double-a.b {
  max-width: 470px;
}

/*
IE fix on inputs
*/

input[type="search"]::-ms-clear {
  display: none !important;
}

/*
Mobile fix for search
*/

@media only screen and (max-width: 780px) {
  .mobile-view .search-form,
  .tablet-view .search-form {
    position: relative;
  }

  .mobile-view .autocomplete_container,
  .tablet-view .autocomplete_container {
    display: block;
    max-width: 100% !important;
    position: relative !important;
    float: left !important;
    overflow-x: hidden;
  }

  .mobile-view .autocomplete_container ul,
  .tablet-view .autocomplete_container ul {
    display: block;
    max-width: 110% !important;
    position: relative !important;
    float: left !important;
    padding: 10px 0;
  }

  .mobile-view .autocomplete_container ul li,
  .tablet-view .autocomplete_container ul li {
    display: block;
    max-width: 100% !important;
    position: relative !important;
    float: left !important;
  }
}

/* This is used to show the language switchers or not depending on the page we are */

.hidden {
  display: none;
}

/*Side dots to indicate page vertical position*/

.scroll_dots {
  display: none;
  width: 28px;
  position: fixed;
  right: 15px;
  top: 43%;
  background: rgba(190, 188, 189, 0.8);
  margin-right: -15px;
  z-index: 999;
}

.scroll_dots .single_dot {
  display: block;
  padding: 7px 9px;
  cursor: pointer;
}

.scroll_dots .single_dot span {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #FFF;
  border-radius: 50%;
  background: transparent;
  transition: background 0.5s;
}

.scroll_dots .single_dot.active span {
  background: #FFF;
  transition: background 0.5s;
}

@media (max-width: 450px) {
  .scroll_dots {
    width: 30px;
  }

  .scroll_dots .single_dot span {
    width: 10px;
    height: 10px;
  }
}

/*Styles added because of the plugin Ultimate Shortcodes afection styles in single-employee*/

.single_employee {
  font-size: 1.6em;
}

.single_employee p {
  font-size: 1em;
}

.single_employee ul li {
  font-size: 1em;
}

/*This is for the newsletter page*/

span.not_bold {
  font-weight: 100;
}

/* This is the shadow for the text in the front-page */

#featured p {
  text-shadow: 1px 1px black;
}

#footer .schema-attr p {
  margin-bottom: 0px;
}

/*EXTRA STYLES FOR THE RETTYSK.DK and RECHTDAENISCH.DE*/

/*#nav .b{*/

/*margin-right: -137px;*/

/*}*/

/*#nav .c{*/

/*display: none;*/

/*}*/

/*
    New styles by Cabana. Or overrides.
*/

.extranet-search-form {
  margin-bottom: 20px;
  clear: both;
}

.scroll-to-fixed-fixed .extranet-search-form input {
  float: none;
}

@media only screen and (max-width: 1300px) {
  .extranet-search-form {
    margin-bottom: 0;
  }

  .scroll-to-fixed-fixed .extranet-search-form input {
    float: left;
  }
}

.newsletter-popup {
  position: fixed;
  width: 340px;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  padding: 25px;
  display: none;
}

.newsletter-popup h3 {
  font-size: 22px;
  color: white;
}

.newsletter-popup p {
  font-size: 13px;
  color: white;
  margin-bottom: 12px;
}

.newsletter-popup .button {
  border: 1px solid #60dd49;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.newsletter-popup .button:hover {
  background: #60dd49;
}

.newsletter-popup .close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("../img/sprite-a.png") -144px 0px no-repeat;
  display: block;
}

@media only screen and (max-width: 780px) {
  .newsletter-popup {
    width: auto;
    left: 10px;
  }
}

.newsletter-content h3 {
  font-size: 2.4em;
  font-weight: 400;
  color: #444;
  line-height: 1.625;
}

.newsletter-content p {
  font-size: 1.6em;
  color: #666;
}

.g-recaptcha {
  -ms-transform: scale(0.77);
      transform: scale(0.77);
  -ms-transform-origin: 0 0;
      transform-origin: 0 0;
}

.recaptchaResponse iframe {
  border: 2px solid transparent;
}

.knowledge figure#featured {
  height: 450px;
  overflow: hidden;
  position: relative;
  margin: 0;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width: 780px) {
  .knowledge figure#featured {
    height: 200px;
    background-position: center bottom;
  }
}

.knowledge-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  max-height: 550px;
}

.knowledge-link {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #000;
  font-size: .45rem;
  color: #000;
  text-decoration: none;
  margin: 10px 15px 0 0;
  padding: 15px 15px;
  cursor: pointer;
}

.knowledge-link:hover {
  border-color: #60dd49;
  background: #60dd49;
}

.knowledge-link:hover h4,
.knowledge-link:hover p,
.knowledge-link:hover a {
  color: #fff;
}

.knowledge-link h4 {
  margin: 0;
  text-align: center;
}

.knowledge-link p {
  margin-top: 10px;
}

.knowledge-link a {
  font-size: 1.6em;
  text-align: left;
  color: #000;
}

.knowledge-link a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 780px) {
  .knowledge-link {
    width: 100%;
  }
}

.knowledge-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), height 0.25s ease 0.7s;
}

.knowledge--open {
  height: auto;
  max-height: 200px;
  transition: max-height 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), height 0.25s ease 0.7s;
}

.knowledge-type p {
  margin-bottom: 0;
}

.knowledge-type h1,
.knowledge-type h3 {
  margin: 0px 0 11px;
}

.knowledge-type article {
  margin: 40px 0 20px 0;
}

.content ul.gallery-a li:nth-of-type(1n+5) {
  display: none;
}

@media only screen and (max-width: 780px) {
  .content ul.gallery-a li:nth-of-type(1n+4) {
    display: none;
  }
}

.content .button {
  display: block;
  min-width: 93px;
  height: 44px;
  padding: 0 25px;
  border: 2px solid #000;
  color: #000;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 auto;
  max-width: 200px;
  text-transform: uppercase;
}

.content .button:hover {
  border-color: #60dd49;
  background: #60dd49;
  color: #fff;
}

.block-grid {
  width: 50%;
  overflow: hidden;
  display: block;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  float: left;
}

.block-grid li {
  display: block;
  margin-bottom: 15px;
  border: 2px solid #444;
}

.block-grid li:before {
  display: none;
}

.block-grid li h5 {
  font-size: 17px !important;
  padding: 17px;
  margin: -2px;
  text-align: center;
  position: relative;
}

.block-grid li h5:hover {
  cursor: pointer;
  background: #60dd49;
  color: white;
}

.block-grid li p {
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 15px;
}

.block-grid li a {
  font-size: 14px;
}

.block-grid li p {
  display: none;
}

.block-grid.block-grid-left li {
  margin-right: 15px;
}

.block-grid.block-grid-right li {
  margin-left: 15px;
}

@media only screen and (max-width: 780px) {
  .block-grid {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }

  .block-grid.block-grid-right {
    margin-bottom: 30px;
  }

  .block-grid li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.event_date {
  color: #60dd49;
}

.csr_cards {
  display: inline-block;
  position: relative;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  margin-top: 70px;
}

.csr_card {
  display: inline-block;
  position: relative;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 80px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 34px 3px rgba(0, 0, 0, 0.2);
  height: 150px;
  float: left;
  transition: all 1s ease-in-out;
  color: #ccc;
}

.csr_card a {
  color: #ccc;
  text-align: center;
}

@media only screen and (max-width: 780px) {
  .csr_card {
    background-color: #222222;
    width: 100%;
    height: auto;
  }
}

.csr_card ul {
  padding: 0px 20px 20px 20px;
  text-align: center;
  color: #cccccc;
}

.csr_card ul li:before {
  display: none;
}

.csr_card ul .svg-wrapper {
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 120px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.csr_card ul .svg {
  height: auto;
  width: 120px;
  margin: 0 auto;
}

.csr_card ul .svg .svg-bg {
  transition: fill .4s ease;
}

.csr_card ul p {
  width: 100%;
}

.csr_card ul .csr_icon {
  display: block;
  width: 100px;
  height: 100px;
  top: -50px;
  margin: 0 auto;
  transition: all .4s ease-in-out;
}

.csr_card ul .csr_title {
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
  color: #444;
}

@media only screen and (max-width: 780px) {
  .csr_card ul .csr_title {
    color: #66CC53;
  }
}

.csr_card ul .csr_text,
.csr_card ul .csr_link {
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 780px) {
  .csr_card ul .csr_text,
  .csr_card ul .csr_link {
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
}

.csr_card:hover {
  background-color: #222222;
  z-index: 100;
}

.csr_card:hover ul {
  z-index: 100;
  background-color: #222222;
}

.csr_card:hover ul .csr_icon .svg g {
  fill: #66CC53;
}

.csr_card:hover ul .csr_icon .svg-icon {
  fill: #66CC53;
}

.csr_card:hover ul .csr_title {
  color: #66CC53;
}

.csr_card:hover ul .csr_text,
.csr_card:hover ul .csr_link {
  display: block;
  opacity: 1;
  animation: .3s ease 0s normal forwards 1 fadein;
}

.csr_card:hover .svg-bg {
  fill: #fff;
}

.csr_card:nth-child(3n) {
  margin-right: 0;
}

.svg-skew-one {
  width: 120px;
  height: 110px;
  -webkit-transform: skew(-15deg, -14deg) rotate(25deg);
  -moz-transform: skew(-15deg, -14deg) rotate(25deg);
  -o-transform: skew(-15deg, -14deg) rotate(25deg);
  -ms-transform: rotate(25deg);
}

.svg-skew-two {
  width: 85px;
  -webkit-transform: skew(20deg, 8deg) rotate(0deg);
  -moz-transform: skew(20deg, 8deg) rotate(0deg);
  -o-transform: skew(20deg, 8deg) rotate(0deg);
  -ms-transform: rotate(0deg);
}

.svg-skew-three {
  width: 100px;
  -webkit-transform: skew(0deg, -35deg) rotate(3deg);
  -moz-transform: skew(0deg, -35deg) rotate(3deg);
  -o-transform: skew(0deg, -35deg) rotate(3deg);
  -ms-transform: rotate(3deg);
}

.svg-skew-four {
  width: 85px;
  -webkit-transform: skew(5deg, -25deg) rotate(10deg);
  -moz-transform: skew(5deg, -25deg) rotate(10deg);
  -o-transform: skew(5deg, -25deg) rotate(10deg);
  -ms-transform: rotate(10deg);
}

.svg-skew-five {
  width: 65px;
  -webkit-transform: skew(-16deg, 35deg) rotate(5deg);
  -moz-transform: skew(-16deg, 35deg) rotate(5deg);
  -o-transform: skew(-16deg, 35deg) rotate(5deg);
  -ms-transform: rotate(5deg);
}

.svg-skew-six {
  width: 75px;
  -webkit-transform: skew(6deg, 35deg) rotate(5deg);
  -moz-transform: skew(6deg, 35deg) rotate(5deg);
  -o-transform: skew(6deg, 35deg) rotate(5deg);
  -ms-transform: rotate(5deg);
}

.svg-skew-seven {
  width: 85px;
  -webkit-transform: skew(0deg, 30deg) rotate(20deg);
  -moz-transform: skew(0deg, 30deg) rotate(20deg);
  -o-transform: skew(0deg, 30deg) rotate(20deg);
  -ms-transform: rotate(20deg);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*@media print {
    @import "html24-print";
}*/