/*
*On around line 211 in main.css I added to a class to only add hover on the desktop versions
*.desktop-view .gallery-a li .img:hover:before, .vcard.a figure a:hover:before { left: 0; }
*.desktop-view .gallery-a li .img:hover:after, .vcard.a figure a:hover:after { left: 50%; }
*/

#aside {
  z-index: 8 !important;
}

#aside ul li a {
  background: white;
  white-space: nowrap;
}

.d .active {
  font-weight: bold;
}

.input-a > span:last-child {
  width: 100%;
}

.input-a > span:last-child input {
  margin-top: 2px;
  text-align: center;
}

.page-template-template-basicpage-php #content {
  font-size: 16px;
}

.page-template-template-basicpage-php #content h2 {
  font-size: 49px;
}

.page-template-template-basicpage-php #content h3 {
  font-size: 26px;
}

.page-template-template-basicpage-php #content p {
  font-size: 16px;
}

.page-template-template-basicpage-php #content ul li,
ol li {
  font-size: 16px;
}

#team button {
  padding: 0 !important;
}

.ui-autocomplete {
  top: 0 !important;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.autocomplete_container {
  width: 100%;
  overflow: hidden;
}

.search-form .ui-menu-item,
.ui-autocomplete {
  max-width: 110% !important;
  width: 110% !important;
  float: left;
  box-sizing: border-box;
}

input#sa {
  box-sizing: border-box;
}

.search-form .ui-menu-item {
  cursor: pointer;
}

.news-b .has-link-a a {
  text-decoration: none;
}

.center_event {
  margin: 0 auto !important;
  float: none !important;
  text-align: center !important;
}

#cv.NotFullSized {
  background-size: auto 100%;
  background-position: right;
}

#before_cv {
  position: absolute;
  background: #ffffff;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  content: "";
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 81.25em) {
  #cv > p {
    width: 450px;
    padding-right: 800px;
  }
}

.scheme-a {
  margin-bottom: 40px !important;
}

.ip-nav-heading strong {
  font-weight: 900;
  white-space: nowrap;
}

.ip-nav-heading {
  font-weight: 700;
  white-space: nowrap;
}

.inpage-nav-ul li a strong {
  font-weight: normal !important;
  white-space: nowrap;
}

.inpage-nav-ul li.active a strong {
  font-weight: 700 !important;
  white-space: nowrap;
}

#content .ip-nav-heading,
#content .ip-nav-heading strong {
  white-space: normal !important;
}

.year-in-table {
  float: left;
  min-width: 100px !important;
}

.ui-helper-hidden-accessible {
  display: none;
}

/* knowledge single post*/

.single-knowledge article p.date_post,
.single-post article p.date_post,
.single-event article p.date_post {
  margin-bottom: 0px;
}

.single-knowledge article p.before_title,
.single-post article p.before_title,
.single-event article p.before_title {
  margin-bottom: 40px;
}

/*
* News Styling Content
*/

#content h1 strong {
  font-weight: 900;
}

#content h2 {
  font-size: 2.4em;
  font-weight: 700;
}

#content h2 strong {
  font-weight: 900;
}

#content h3 {
  font-size: 2.2em;
}

#content h4 {
  font-size: 2.0em;
}

#content h5 {
  font-size: 1.8em;
}

#content h6 {
  font-size: 1.6em;
}

.page-template-template-employees-php li.vcard span.fn {
  height: 68px;
  display: block;
  overflow: hidden;
}

.page-template-template-employees-php li.vcard span.titles_and_city {
  display: block;
  height: 30px;
}

@media only screen and (max-width: 47.5em) {
  /* 760 */

  .page-template-template-employees-php li.vcard span.fn {
    height: auto;
    overflow: auto;
  }

  .page-template-template-employees-php li.vcard span.titles_and_city {
    height: auto;
  }
}

.single-specialty figure#featured {
  background-position: center center;
}

.page-template-template-newsletter_signup-php figure#featured {
  background-position: center center;
}

@media only screen and (max-width: 47.5em) {
  #nav > ul.c > li:hover > ul {
    top: inherit;
    left: 0;
  }
}

#nav-mobile form input {
  box-sizing: border-box;
}

#content ol {
  padding-left: 14px !important;
  counter-reset: li-counter;
}

#content ol li:before {
  text-align: center;
  position: absolute;
  margin-left: -16px;
  width: 14px;
  content: counter(li-counter) ".";
  counter-increment: li-counter;
}

/* Auto complete search spinner*/

.autocomplete_container #icon_spinner {
  margin: 0 auto;
}

/* Cookie Box */

.cookie-box {
  width: 100%;
  z-index: 9999999;
  position: fixed;
  bottom: -300px;
  left: 0;
  right: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.cookie-box-inner {
  display: table;
  width: 100%;
}

.cookie-box-content {
  float: left;
  width: 80%;
}

.cookie-box-accept {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.gm-style .gm-style-iw {
  overflow: visible !important;
}

@media only screen and (max-width: 47.5em) {
  .cookie-box {
    width: 100%;
    padding: 5%;
  }

  .cookie-box-content {
    width: 100%;
  }

  .cookie-box-accept {
    display: block;
    width: 100%;
  }
}

.share-buttons ul li::before {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.share-buttons ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 0 10px 0 !important;
}

.share-buttons ul li {
  margin: 0;
  padding: 0 10px 0 0;
  display: inline-block;
}

/* Area knowledge section */

section.knowledge-posts article::before {
  content: '';
  border-top: 1px solid #000000;
}

section.knowledge-posts.content {
  position: relative;
  z-index: 4;
  width: 820px !important;
  margin: 0 auto;
  padding: 0 0 60px 430px !important;
}

section.knowledge-posts.content header p {
  margin-bottom: 0;
}

section.knowledge-posts.content header h3 {
  margin-top: 0;
}

@media only screen and (max-width: 1300px) {
  section.knowledge-posts.content {
    padding-left: 160px;
  }
}

/* CSS Fix for employee search */

.page-id-1414 #team p > span,
.page-id-97 #team p > span {
  width: 25%;
}

@media only screen and (max-width: 780px) {
  .page-id-1414 #team p > span,
  .page-id-97 #team p > span {
    width: 100%;
  }
}

.single-specialty .news-b article:last-child {
  float: left;
}

#nav > ul.a > li.no-split > div > ul {
  width: 100%;
}

#nav > ul.a > li.no-split > div {
  position: absolute;
  margin-left: -30px;
  left: auto;
  right: auto;
  width: auto;
}

/* Single area of expertise */

@media (min-width: 1300px) and (max-width: 1610px) {
  .single-specialty .gallery-a {
    margin-left: auto;
    margin-right: auto;
    width: 1120px !important;
  }

  .single-specialty .news-b-wrapper .news-b.b {
    padding-left: 180px !important;
  }

  .single-specialty .news-b.b.knowledge-section {
    padding-left: 0px !important;
    width: 1040px !important;
  }

  .single-specialty .news-b-wrapper .news-b.b article {
    width: 330px;
  }
}

/*
    Single Employee Page
*/

#cv .emp-content {
  width: 1250px;
  padding: 0 !important;
}

@media only screen and (max-width: 1300px) {
  #cv .emp-content {
    width: 980px;
  }
}

@media only screen and (max-width: 1040px) {
  #cv .emp-content {
    width: 720px;
  }
}

@media only screen and (max-width: 780px) {
  #cv .emp-content {
    width: 90%;
  }
}

#cv .emp-content header,
#cv .emp-content h3,
#cv .emp-content p,
#cv .emp-content .double-a.b {
  max-width: 470px;
}

/*
IE fix on inputs
*/

input[type="search"]::-ms-clear {
  display: none !important;
}

/*
Mobile fix for search
*/

@media only screen and (max-width: 780px) {
  .mobile-view .search-form,
  .tablet-view .search-form {
    position: relative;
  }

  .mobile-view .autocomplete_container,
  .tablet-view .autocomplete_container {
    display: block;
    max-width: 100% !important;
    position: relative !important;
    float: left !important;
    overflow-x: hidden;
  }

  .mobile-view .autocomplete_container ul,
  .tablet-view .autocomplete_container ul {
    display: block;
    max-width: 110% !important;
    position: relative !important;
    float: left !important;
    padding: 10px 0;
  }

  .mobile-view .autocomplete_container ul li,
  .tablet-view .autocomplete_container ul li {
    display: block;
    max-width: 100% !important;
    position: relative !important;
    float: left !important;
  }
}

/* This is used to show the language switchers or not depending on the page we are */

.hidden {
  display: none;
}

/*Side dots to indicate page vertical position*/

.scroll_dots {
  display: none;
  width: 28px;
  position: fixed;
  right: 15px;
  top: 43%;
  background: rgba(190, 188, 189, 0.8);
  margin-right: -15px;
  z-index: 999;
}

.scroll_dots .single_dot {
  display: block;
  padding: 7px 9px;
  cursor: pointer;
}

.scroll_dots .single_dot span {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #FFF;
  border-radius: 50%;
  background: transparent;
  transition: background 0.5s;
}

.scroll_dots .single_dot.active span {
  background: #FFF;
  transition: background 0.5s;
}

@media (max-width: 450px) {
  .scroll_dots {
    width: 30px;
  }

  .scroll_dots .single_dot span {
    width: 10px;
    height: 10px;
  }
}

/*Styles added because of the plugin Ultimate Shortcodes afection styles in single-employee*/

.single_employee {
  font-size: 1.6em;
}

.single_employee p {
  font-size: 1em;
}

.single_employee ul li {
  font-size: 1em;
}

/*This is for the newsletter page*/

span.not_bold {
  font-weight: 100;
}

/* This is the shadow for the text in the front-page */

#featured p {
  text-shadow: 1px 1px black;
}

#footer .schema-attr p {
  margin-bottom: 0px;
}

/*EXTRA STYLES FOR THE RETTYSK.DK and RECHTDAENISCH.DE*/

/*#nav .b{*/

/*margin-right: -137px;*/

/*}*/

/*#nav .c{*/

/*display: none;*/

/*}*/