#top {
  display: none !important;
}

#nav ul {
  display: none !important;
}

#nav-mobile {
  display: none;
}

.share-buttons {
  display: none;
}

ul.social-a {
  display: none;
}

#footer {
  display: none;
}

.search-form {
  display: none;
}

#cv {
  background: none !important;
}

#cv figure img,
#featured img {
  max-width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
  float: right;
}

.gallery-a {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.vcard a img {
  max-width: 100px;
  height: auto;
  margin: 0;
  padding: 0;
  float: right;
}

li.vcard {
  padding: 10px 0;
  margin: 10px 0;
  float: left;
  width: 100%;
  height: auto;
  clear: both;
  border-bottom: 1px solid #000000;
}

#cv .list-c {
  display: none;
}

a {
  color: #000000 !important;
  text-decoration: none;
}

#aside {
  display: none;
}

.year-in-table {
  display: inline-block;
  width: 100px;
}