.knowledge figure#featured {
  height: 450px;
  overflow: hidden;
  position: relative;
  margin: 0;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width: 780px) {
  .knowledge figure#featured {
    height: 200px;
    background-position: center bottom;
  }
}

.knowledge-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  max-height: 550px;
}

.knowledge-link {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #000;
  font-size: .45rem;
  color: #000;
  text-decoration: none;
  margin: 10px 15px 0 0;
  padding: 15px 15px;
  cursor: pointer;
}

.knowledge-link:hover {
  border-color: #60dd49;
  background: #60dd49;
}

.knowledge-link:hover h4,
.knowledge-link:hover p,
.knowledge-link:hover a {
  color: #fff;
}

.knowledge-link h4 {
  margin: 0;
  text-align: center;
}

.knowledge-link p {
  margin-top: 10px;
}

.knowledge-link a {
  font-size: 1.6em;
  text-align: left;
  color: #000;
}

.knowledge-link a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 780px) {
  .knowledge-link {
    width: 100%;
  }
}

.knowledge-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), height 0.25s ease 0.7s;
}

.knowledge--open {
  height: auto;
  max-height: 200px;
  transition: max-height 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), height 0.25s ease 0.7s;
}

.knowledge-type p {
  margin-bottom: 0;
}

.knowledge-type h1,
.knowledge-type h3 {
  margin: 0px 0 11px;
}

.knowledge-type article {
  margin: 40px 0 20px 0;
}