@media print {
  /*cv*/

  article {
    /*employee cv*/
    /*employee content*/
  }

  article#cv {
    margin-top: 20px;
    width: 100%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    background-image: none !important;
    min-height: 100%;
  }

  article#cv figure {
    position: relative;
    width: 400px;
    padding: 0 !important;
    left: 0px;
    float: right;
    margin-top: 10px;
  }

  article#cv .emp-content header {
    max-width: 100%;
  }

  article#cv .emp-content header h1 {
    max-width: 100%;
    font-size: 28px;
    line-height: 30px;
    color: black;
  }

  article#cv .emp-content header p span {
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    color: black;
  }

  article#cv .emp-content h3 {
    margin: 0px !important;
    margin-top: 30px !important;
    margin-bottom: 5px !important;
    font-size: 18px;
    color: black;
  }

  article#cv .emp-content p {
    font-size: 15px;
    color: black !important;
  }

  article#cv .emp-content p span {
    font-size: 15px;
  }

  article#cv .emp-content p a {
    text-decoration: none;
    color: black;
  }

  article#cv .emp-content .double-a > * {
    float: none;
  }

  article#cv .emp-content .double-a {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-bottom: 0px;
    font-size: 15px;
    color: black;
    float: none;
  }

  article#cv .emp-content .double-a p {
    float: none;
  }

  article#cv .emp-content .double-a .list-c a {
    font-size: 15px;
  }

  article#content {
    padding: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  article#content h2 {
    font-size: 20px;
    line-height: 30px;
    color: black;
    margin-bottom: 5px !important;
  }

  article#content ul li {
    font-size: 15px;
    color: black;
  }

  article#content p {
    font-size: 15px;
    color: black;
  }

  article#content .share-buttons {
    display: none;
  }
}

@media print {
  /*hero*/

  figure#featured {
    /*position: relative;
        width: 100%;
        height: 200px;
        padding: 0 !important;
        left: 0px;
        margin-top: 12px;*/
    display: none;
  }

  /*artikel*/

  section {
    /*body*/
    /*kontakter*/
    /*links til laes mere*/
  }

  section#content {
    margin-top: 20px;
    width: 100%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    background-image: none !important;
  }

  section#content h1 {
    max-width: 100%;
    font-size: 28px;
    line-height: 30px;
    color: black;
  }

  section#content p.scheme-a {
    max-width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px !important;
  }

  section#content h2 {
    margin: 0px !important;
    margin-top: 30px !important;
    margin-bottom: 5px !important;
    font-size: 18px;
    line-height: 22px;
    color: black;
  }

  section#content p {
    font-size: 15px;
    color: black;
  }

  section#content p span {
    color: black;
  }

  section#content span {
    color: black;
  }

  section#content ul li {
    color: black;
  }

  section#content .share-buttons {
    display: none;
  }

  section.content {
    padding: 0px !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px;
  }

  section.content.a {
    page-break-before: auto;
    /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto;
    /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid;
    /* or 'auto' */
  }

  section.content.a h2.header-b {
    font-size: 20px;
    line-height: 30px;
    color: black;
    margin-bottom: 20px !important;
    text-align: left;
  }

  section.content.a ul.gallery-a {
    padding-left: 0px;
  }

  section.content.a ul.gallery-a li {
    color: black;
    width: 20%;
    margin-right: 40px;
    text-align: left;
    line-height: 17px;
    vertical-align: top;
    display: none;
    font-size: 12px;
  }

  section.content.a ul.gallery-a li:nth-child(-n+4) {
    display: block;
  }

  section.content.a ul.gallery-a li:nth-child(4n) + li {
    clear: none;
  }

  section.content.a ul.gallery-a li:nth-child(4) {
    margin-right: 0px;
  }

  section.content.a ul.gallery-a li .img {
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  section.content.a ul.gallery-a li .img img {
    width: 100%;
    height: 100%;
  }

  section.content.a ul.gallery-a li span {
    color: black;
    font-size: 12px;
  }

  section.content.a ul.gallery-a li span.fn {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
  }

  section.news-b {
    margin-top: 20px;
    width: 100% !important;
    padding: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: white;
    background-image: none !important;
  }

  section.news-b h2.ip-nav-heading {
    font-size: 20px;
    line-height: 30px;
    color: black;
    margin-bottom: 0px;
    text-align: left;
  }

  section.news-b article {
    margin: 0px;
  }

  section.news-b article.has-link-a {
    width: 100%;
    height: 100% !important;
    padding-bottom: 100px !important;
  }

  section.news-b article.has-link-a h3 {
    margin: 0px !important;
    margin-top: 30px !important;
    margin-bottom: 5px !important;
    font-size: 18px;
    color: black;
  }

  section.news-b article.has-link-a p {
    font-size: 15px;
    color: black;
  }

  section.news-b article.has-link-a .link-a {
    bottom: 55px;
  }

  section.news-b article.has-link-a .link-a a {
    min-width: 70px;
    height: 37px;
    padding: 0 15px;
    line-height: 36px;
    font-size: 12px !important;
  }
}

@media print {
  /*nyheder*/

  section {
    /*body*/
  }

  section#content.cols-a {
    margin-top: 20px;
    width: 100%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    background-image: none !important;
    /*article*/
    /*kontakter*/
  }

  section#content.cols-a article {
    max-width: 100%;
    float: none;
  }

  section#content.cols-a article .scheme-b + h1,
  section#content.cols-a article .scheme-b + h2 {
    margin-top: 20px;
  }

  section#content.cols-a article p img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  section#content.cols-a article p iframe {
    display: none;
  }

  section#content.cols-a aside {
    float: none;
    width: 100%;
    margin-top: 30px;
    page-break-before: auto;
    /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto;
    /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid;
    /* or 'auto' */
  }

  section#content.cols-a aside .vcard.a {
    display: inline-block;
    width: 20%;
    margin-right: 40px;
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    vertical-align: top;
  }

  section#content.cols-a aside .vcard.a:nth-child(4) {
    margin-right: 0px;
  }

  section#content.cols-a aside .vcard.a p {
    font-size: 12px;
  }

  section#content.cols-a aside .vcard.a p span {
    font-size: 12px;
  }

  section#content.cols-a aside .vcard.a figure a {
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  section#content.cols-a aside .vcard.a figure a img {
    width: 100%;
    height: 100%;
  }
}

@media print {
  html {
    background: #fff;
  }

  #root {
    padding: 0px;
    background-color: #fff;
  }

  h1 {
    max-width: 100%;
    font-size: 28px;
    line-height: 30px;
    color: black;
  }

  h2 {
    font-size: 20px;
    line-height: 30px;
    color: black;
    margin-bottom: 5px !important;
  }

  h3 {
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    color: black;
  }

  p {
    color: black;
  }

  span {
    color: black;
  }

  dl {
    color: black;
  }

  a {
    color: #60dd49 !important;
    text-decoration: none;
  }

  p a,
  li a,
  span a,
  dl a {
    color: #60dd49 !important;
    text-decoration: none;
  }

  ul li,
  ol li {
    color: black !important;
    font-size: 15px !important;
  }

  /*header*/

  #top {
    padding: 10px 0 29px;
    border: none;
  }

  #top:after {
    display: none;
  }

  #top #logo {
    margin-left: 570px;
  }

  #top #logo a {
    /*height: 28px;*/
    background-size: contain;
  }

  #nav {
    display: none;
  }

  .no-mobile #top {
    position: relative;
  }

  /*aside nav*/

  nav#aside {
    display: none;
  }

  /*footer*/

  footer#footer {
    display: none;
    /*width: 100%;
        background: white;
        color: black;

        &:before{
            background: white;
        }

        nav{
            div{
                width: 40%;
                h2{
                    margin: 0px;
                    margin-top: 30px;
                    margin-bottom: 3px;
                    font-family: Proxima, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                    margin-bottom: 5px !important;
                }
                p{
                    font-family: Proxima, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    color: black;

                    a{
                        color: black;
                    }
                }
                &:first-of-type{
                    display: none;
                }

                &.newsletter_footer_col{
                    display: none;
                }
            }
        }

        p{
            &:last-of-type{
                display: none;
            }
        }*/
  }

  .newsletter-popup {
    display: none !important;
  }

  .button {
    display: none !important;
  }

  .link {
    display: none !important;
  }
}

@page {
  size: A4;
  margin-top: 2cm;
  margin-bottom: 2cm;
}